body{
    font-family:'Roboto', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363a3d;
}
canvas{
    /*border: 2px solid #03a9f4;*/
    background-color: white;
    /*background-image: linear-gradient(white, white, lightblue);*/
}