body {
	background-color: #343a40;
	color:  white;
	font-family: Arial, Helvetica, sans-serif;		
	margin: 0;
	padding: 0;
}

a {
	color:  #6ed9cd;	
	text-decoration: none;	
}

a:hover {
	color: #57ffec;
	text-decoration: none;	
	
}

img {
	object-fit: contain;
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav ul {
	background: #3C4349;
	list-style-type: none;
	margin: 0;
	padding: 8px 16px;
}

nav ul li {
	display: inline-block;
	padding: 0;
	margin: 0 32px 0 0;
	vertical-align: middle;
}

nav ul li a {
	font-size: 20px;
}

nav ul li img {
	object-fit: cover;
	border-radius: 100%;
	margin: 0 16px 0 0;
}

nav ul li span {
	color: #6c7983;
}

#secret {
	display: inline-block;
	height: 50px;
	margin: 0;
	padding: 0;
}

#secret #onhover {
	display: none;
}

/* Show the new text on hover */
#secret:hover #initial {
	display: none;
}

/* Hide the initial text on hover */
#secret:hover #onhover {
	display: inline;
}

#content {
	margin: 0;
	padding: 0 16px;
}

#social {

}

#social-links {
	display: inline-block;
	vertical-align: top;
	width: 5%;
}

#social-links ul li {
}

#social-links ul li a img{
}

#avatar {
	display: inline-block;
	width: auto;
}

#avatar #pfp img {
	object-fit: cover;
	border-radius: 100%;
}