
body {
	background-color: #eef3f7;		/* Off White */
	color:  #3c4349;				/* Gray */
	font-family: Arial, Helvetica, sans-serif;		
	margin: 0;
	padding: 0;
}

a {
	color:  #36c9b8;	
	text-decoration: none;	
}

a:hover {
	color: #57ffec;
	text-decoration: none;		
}

img {
	object-fit: contain;
	vertical-align: middle;
}

ul {
	list-style-type: none;
	margin: 0 0 0 16px;
	padding: 0;
}

li {
	margin: 0 0 8px 0;
}

p {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 240px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #dbe6ee; /* Dark Off White */
  color: #3c4349;		/* Gray */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.main {
  margin-left: 240px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

#avatar {
	display: inline-block;
	width: auto;
}

#avatar #pfp img {
	object-fit: cover;
	border-radius: 100%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*
nav ul {
	background: #3C4349;
	list-style-type: none;
	margin: 0;
	padding: 8px 16px;
}

nav ul li {
	display: inline-block;
	padding: 0;
	margin: 0 32px 0 0;
	vertical-align: middle;
}

nav ul li a {
	font-size: 20px;
}

nav ul li img {
	object-fit: cover;
	border-radius: 100%;
	margin: 0 16px 0 0;
}

nav ul li span {
	color: #6c7983;
}
*/