body {
	font-family: Verdana, Helvetica, sans-serif;	
}

a {
	color:  #36c9b8;	
	text-decoration: none;	
}

a:hover {
	color: #57ffec;
	text-decoration: none;		
}

ul {
	list-style-type: none;
	padding-left: 8px;
}

img {
	border-radius: 4px;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 64px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(0,0,0,0);/*#dbe6ee;  Dark Off White */
  color: white;		/* #3c4349Gray */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 256px;
}

.sidenav li {
	display: block;
	margin: 0 0 4px 0;
}

.main {
	margin: 0 240px 0 240px;
  /*margin-left: 240px;  Same as the width of the sidebar */
  /*padding: 0px 10px;*/
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    z-index: 2;
}
/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

div.row {
    margin: 0 64px 0 64px;
}

/*
.jumbotron {
	background-image: url("../images/Supermarket Tycoon Thumbnail.png");
	background-size: cover;
  height: 100%;
}
*/

p {
	font-size: 1.4vw;
	margin-bottom: 4px;
}

h3 {
	font-size: 2vw;
	margin-bottom: 4px;
}

a.navbar-brand img {
	border-radius: 100%;
}