
#secret {
	display: inline-block;
	height: 50px;
	margin: 0;
	padding: 0;
}

#secret #onhover {
	display: none;
}

/* Show the new text on hover */
#secret:hover #initial {
	display: none;
}

/* Hide the initial text on hover */
#secret:hover #onhover {
	display: inline;
}